@use "../styles.scss" as *;

.input {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:  column;
    width: 100%;
    &--sm {
        > .input__value {
            min-width: 40px;
            padding: 7px 4px;
        }
    }
    &--3digits{
        > .input__value {
            width: calc(3ch + 15px);
            box-sizing: content-box;
            padding: 7px 4px;
        }
    }

    &--left-aligned{
        > .input__label {
            margin-left: 0px;
        }
    }
}


// Set by editOnFocus prop in the Input & Textarea components
.input--edit-on-focus > .input__value{
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--primary-500);
    cursor: pointer;

    // Hide the red required asterisk when editOnFocus inputs aren't focused
    &:required:not(:focus) {
        + .input__label:after{
            display:none;
        }
    }
}

// Hide number spinner unless the input element is hovered or focused
.input--edit-on-focus {
    // Chrome/Safari
    & > input[type="number"]::-webkit-outer-spin-button,
    & > input[type="number"]::-webkit-inner-spin-button {
        display: none;
        -webkit-appearance: none;
    }
    // Firefox
    & > input[type="number"] {
        -moz-appearance: textfield;
    }

    & > input[type="number"]:focus, & > input[type="number"]:hover {
        -moz-appearance: number-input;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            display: inline-block;
            -webkit-appearance: inner-spin-button !important;
        }
    }
}

.input__label {
    position: relative;
    font-size: 12px;
    color: var(--theme-medium-emphasis);
    text-transform: uppercase;
    margin-left: $space;
    margin-bottom: 2px;
    order: -1;
}

.input__value{
    @extend %subtitle-1;
    border: 1px solid var(--theme-focus-overlay);
    border-radius: $input-border-radius;
    background-color: var(--surface);
    outline: none;
    color: var(--theme-high-emphasis);
    padding: $space;
    resize: none;
    width: 100%;

    &:focus{
        border: 1px solid $primary;
        color: var(--theme-high-emphasis);
    }

    &::placeholder{
        color: var(--theme-inactive)
    }


    // read only inputs should appear like a normal text element
    &:read-only {
        cursor: default;
        user-select: none;  
        color: var(--theme-high-emphasis);
        border: 1px solid transparent;
        background-color: transparent;
    }

    // Only show require asterisk for non-read only inputs
    &:required:not(:read-only) {
        + .input__label:after{
            content: "*";
            color: #F12929;
            font-size: 18px;
            font-weight: $font-weight-medium;
            position: absolute;
            left: calc(100% + #{$space});
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &:invalid {
        box-shadow: none;
    }
}

.input__value:invalid ~ .input__error {
    display: inline;
}

.input__error {
    display: none;
    color: #F12929;
    @extend %caption;
}