@import "../styles.scss";

.search {
    padding: 13px $space*2;
    padding: $space;
    font-size: 14px;
    color: var(--theme-high-emphasis);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:  row;
    width: 100%;
    border-radius: $input-border-radius;
    margin-bottom: $space*2;
    border: 1px solid var(--theme-focus-overlay);
    background-color: var(--surface);
}


.search__icon {
    flex: 0 0 auto;
    > svg {
        margin-right: $space;
        @include size(20px);
        color: var(--primary-500);
    }
}

.search__input {
    display: flex;
    flex: 1 1 auto;
    @extend %subtitle-1;
    outline: none;
    border: none;
    background-color: var(--surface);
    &::-webkit-search-cancel-button {
        display: none;
        -webkit-appearance: none;
    }
    &::placeholder{
        color: var(--theme-inactive);
    }
}

.search__clear {
    display: flex;
    visibility: hidden;
    flex: 0 0 auto;
    align-items: stretch;
    > svg {
        margin-left: $space;
        @include size(20px);
        color: var(--theme-high-emphasis);
    }
}

.search:focus-within > .search__clear--visible{
    visibility: visible;
    cursor: pointer;
}
.search__clear--visible{
    visibility: visible;
    cursor: pointer;
}