@use "./variables.scss" as *;

*, *:after, *:before {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    outline: none;
}
  
::-webkit-scrollbar{
    display: none;
}

:root, [data-theme="purple-light"] {
	--primary-500: #{$primary-500};
	--primary-400: #{$primary-400};
	--primary-300: #{$primary-300};
	--primary-200: #{$primary-200};


	--primary-action: #{$primary-action};
	--secondary-500: rgb(20, 203, 168);

	--ripple-origin: rgba(98, 2, 238, 0.16);
	--ripple-secondary: rgb(20, 203, 168, 016);
	--ripple: rgba(98, 2, 238, 0.16);

	--chip-activated: rgba(98, 2, 238, 0.12);

	--border: 1px solid #{$black-focus-overlay};

	--theme-high-emphasis: #{$black-high-emphasis};
	--theme-medium-emphasis: #{$black-medium-emphasis};
	--theme-disabled: #{$black-disabled};
	--theme-inactive: #{$black-inactive};

	--contrast-high-emphasis: #{$white-high-emphasis};
	--contrast-medium-emphasis: #{$white-medium-emphasis};
	--contrast-disabled: #{$white-disabled};
	--contrast-inactive: #{$white-inactive};

	--surface: #{$surface};
	--surface-2: #{$surface-2};

	--theme-hover-overlay: #{$black-hover-overlay};
	--theme-focus-overlay: #{$black-focus-overlay};
	--theme-pressed-overlay: #{$black-pressed-overlay};

	--contrast-hover-overlay: #{$white-hover-overlay};
	--contrast-focus-overlay: #{$white-focus-overlay};
	--contrast-pressed-overlay: #{$white-pressed-overlay};
}
.Light-Theme-1-hex { color: #29434E; }
.Light-Theme-2-hex { color: #14CBA8; }
.Light-Theme-3-hex { color: #90CC00; }
.Light-Theme-4-hex { color: #C6FF00; }
.Light-Theme-5-hex { color: #FF5252; }
[data-theme="blue-light"] {
	--primary-500: #29434E;

	--primary-action: #C6FF00;
	--secondary-500: #14CBA8;

	--ripple: rgba(41,67, 78, 0.16);

	--theme-high-emphasis: #{$black-high-emphasis};
	--theme-medium-emphasis: #{$black-medium-emphasis};
	--theme-disabled: #{$black-disabled};
	--theme-inactive: #{$black-inactive};

	--contrast-high-emphasis: #{$white-high-emphasis};
	--contrast-medium-emphasis: #{$white-medium-emphasis};
	--contrast-disabled: #{$white-disabled};
	--contrast-inactive: #{$white-inactive};

	--surface: #{$surface};
	--surface-2: #{$surface-2};

	--theme-hover-overlay: #{$black-hover-overlay};
	--theme-focus-overlay: #{$black-focus-overlay};
	--theme-pressed-overlay: #{$black-pressed-overlay};

	--contrast-hover-overlay: #{$white-hover-overlay};
	--contrast-focus-overlay: #{$white-focus-overlay};
	--contrast-pressed-overlay: #{$white-pressed-overlay};
}
.Dark-Theme-1-hex { color: #819CA9; }
.Dark-Theme-2-hex { color: #14CBA8; }
.Dark-Theme-3-hex { color: #90CC00; }
.Dark-Theme-4-hex { color: #C6FF00; }
.Dark-Theme-5-hex { color: #FF5252; }
[data-theme="blue-dark"] {
	--primary-500: #819CA9;

	--primary-action: #C6FF00;
	--secondary-500: #14CBA8;

	--ripple: rgba(129,156, 169, 0.16);

	--theme-high-emphasis: #{$white-high-emphasis};
	--theme-medium-emphasis: #{$white-medium-emphasis};
	--theme-disabled: #{$white-disabled};
	--theme-inactive: #{$white-inactive};

	--contrast-high-emphasis: #{$black-high-emphasis};
	--contrast-medium-emphasis: #{$black-medium-emphasis};
	--contrast-disabled: #{$black-disabled};
	--contrast-inactive: #{$black-inactive};

	--surface: #121212;
	--surface-2: #181818;

	--theme-hover-overlay: #{$white-hover-overlay};
	--theme-focus-overlay: #{$white-focus-overlay};
	--theme-pressed-overlay: #{$white-pressed-overlay};

	--contrast-hover-overlay: #{$black-hover-overlay};
	--contrast-focus-overlay: #{$black-focus-overlay};
	--contrast-pressed-overlay: #{$black-pressed-overlay};
}
  
html {
    width: 100vw;
	overflow: hidden;
	font-size: 62.5%;
}
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.hide {
    display: none !important;
}

.border-primary {
    border: 2px solid $primary;
}

.flex {
	display: flex;
	align-items: center;
	&--center{
		justify-content: center;
	}
	&--between{
		justify-content: space-between;
	}
	&--evenly {
		justify-content: space-evenly;
	}
	&--around {
		justify-content: space-around;
	}
	&--col {
		flex-direction: column;
		height: 100%;
	}
	&--stretch {
		> *{
			flex: 1 0 auto;
		}
	}
	&--rev {
		flex-direction: row-reverse;
	}
	&--end {
		justify-content: flex-end;
	}
	&--align-start{
		align-items: start;
	}
	&--align-end{
		align-items: end;
	}
}



.ripple {
	position: absolute;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	opacity: 1.0;
	background: rgba(0,0,0,0);
	-webkit-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	-webkit-transition-property: opacity, -webkit-transform;
	transition-property: opacity, -webkit-transform;
	transition-property: transform, opacity;
	transition-property: transform, opacity, -webkit-transform;
	-webkit-transform: scale(0);
	transform: scale(0);
	pointer-events: none
}